body{
    font-weight: 600;
    background: rgb(240, 234, 224);
}
h2{
    color: green;
}
.form-group{
    margin-bottom: 10px;
}
button{
    background: green;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.expense{
    margin-bottom: 5px;
}

.expense button{
    padding: 10px;
    font-size: 12px;
}